<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{ padding-top:80px; word-wrap:break-word; background-color:black;}
        img {
          border:1px solid gray;
          border-radius: 50px;
        }
        @font-face {
          font-family: uranium;
          src: url('fonts/URANIUM.ttf');
        }

    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1 style='font-family: uranium;'>Profile</h1>
        <a href="/logout" style='font-family:uranium;'>Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-4 col-sm-offset-4">
            <div class="well">
                <h2><span class="fa fa-user"></span></h2>

                <% if (user.local.email) { %>
                    <p>
                        <strong>email</strong>: <%= user.local.email %><br>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
                <% if (user.facebook.token) { %>
                  <a href='<%= user.facebook.url%>'><h2 class="text-primary"><span class="fa fa-facebook"></span></h2></a>
                    <p>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>

                    </p>
                    <img src='<%= user.facebook.picture %>' alt='facebookpic'>
                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>
                <% if (user.twitter.token) { %>
                  <a href='http://twitter.com/<%= user.twitter.username%>'><h2 class="text-info"><span class="fa fa-twitter"></span></h2></a>
                    <p>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>
                    <img src='<%= user.twitter.picture %>' alt='twitterpic'>
                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>
                <% if (user.google.token) { %>
                  <a href='<%= user.google.url%>'><h2 class="text-danger"><span class="fa fa-google-plus"></span></h2></a>
                    <p>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>
                    <img style='height: 50px; width: 50px;' src='<%= user.google.picture %>' alt='googlepic'>
                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>
            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->

    </div>
</div>
</body>
</html>
